{% extends 'base.html.twig' %}

{% block body %}




 
    


<div class="container-md">

        <div class="articleshow">
            <div class="ArticleTitle col-12">
                {{article.title}}
            </div>



        </div>
        <div class="col-xl">
            <img src="{{article.image}}" alt="">
            <br>
            <br>
            <br>

            {% set strategy = 'html' %}

            {% autoescape 'html' %}
    

            <p id="contenu-article">{{ article.content|escape('html')}} </p>
            <br>
            <br>
            <br>

          {% endautoescape %}
            <p id="info-article">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</p>

        </div>

        {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-danger">Edit</a>
        {% endif %}

        <div class="comments">
            <div class="ArticleCommentaire">
              {{ article.comments | length }}  Commentaires
            </div>

            {% for comment in article.comments %} 
            <div class="col-12 comment">
                <div class="userinfo">
                    <a href="cdv" id="comslide"><img src="./img/logodusite.png" id="avatarcom" alt="imgcdv"></a>
                    <p>{{comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)</p>

                </div>
                     {% set strategy = 'html' %}

{% autoescape 'html' %}

                    <div class="lecommentaire">
                        <br>
                        <br>
                        <p id="paragraph"> {{ comment.content|escape('html')}} </p>


                    </div>

                    {% endautoescape %}
            </div>
            <br>
        <br>
        
        
  

    {% endfor %}

   
  


    {% if app.user %}
{{form_start(commentForm)}}


<div class="col-6 form">{{form_row(commentForm.content,{ 'attr': {'placeholder':'Restez courtois'}})}}</div>
<div class="col-6 form"><button type="submit" class="btn btn-success">Commenter</button></div>

{{form_end(commentForm)}}
<br>
<br>
<br>
<br>
<br>
<br>


<br>
{% else %}
<h2 id="comcon">Connectez vous pour commenter ! </h2>
<br>
<br>
<br>
<div class="col-6 form">
<a href="{{path('security_login')}}" class="btn btn-primary">Connectez vous</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endif %}


  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    </div>




{% endblock %}