{% extends 'base.html.twig' %}

{% block body %}




 
    
<div class="row">
  <div class="col" id="col1">

<article>
  <h2>{{article.title}}</h2>
  <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
  <div class="content">
  
    <img src="{{article.image}}" alt="">
    <br>
      {% set strategy = 'html' %}

{% autoescape 'html' %}
    {{ article.content|escape('html')}} 
{% endautoescape %}
<br>
 
         {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-danger">Edit</a>
        {% endif %}
  </div>
</article>

<section id="commentaires">
<h1>{{ article.comments | length }} Commentaires</h1>
{% for comment in article.comments %} 

<div id="comment">
<div class="row comment">
<div class="col-3"><p class="commentp">
{{comment.author}}</p> (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
</div>
<div class="col">
<p class="commentp">
 {% set strategy = 'html' %}

{% autoescape 'html' %}
    {{ comment.content|escape('html')}} 
{% endautoescape %}
<p>
</div>
</div>
</div>
{% endfor %}

</section>

{% if app.user %}
{{form_start(commentForm)}}
{{form_row(commentForm.author,{ 'attr': {'placeholder':'Auteur'}})}}
{{form_row(commentForm.content,{ 'attr': {'placeholder':'Restez courtois'}})}}
<button type="submit" class="btn btn-success">Commenter</button>
{{form_end(commentForm)}}
{% else %}
<h2 id="comcon">Connectez vous pour commenter ! </h2>
<a href="{{path('security_login')}}" class="btn btn-primary">Connectez vous</a>
{% endif %}
</div>
 
  


</div>




        
    




{% endblock %}