<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Pad Pourpre{% endblock %}</title>
       
        <meta name="description" content="Le Pad Pourpre, news sur le hardware et les jeux vidéo ! ">
       
        <meta name="copyright" content="© Le Pad Poupre 2020">
 
  
        {% block stylesheets %}
         
          {{ encore_entry_link_tags('cookiesscss') }}
          {{ encore_entry_link_tags('style') }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       <link rel="icon" type="image/png" href="{{asset('build/images/favicon.png')}}" />
        {% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    </head>


<body>
    <div class="sidemenu h-100">
        <div class="nav-hide">&#9776;</div>
        <a href="/" id="cdvslide"><img src="{{asset('build/images/logodusite.png')}}" id="avatarside" alt="imgcdv"></a>
        <ul class="info-user-side">

           

            {% if not app.user %}
  
   
            <li><a href="/connexion"> Se connecter</a></li>

   {% else %}

    <li>Bonjour {{ app.user.username }}</li>
            <li><a href="/deconnexion"> Se déconnecter</a></li>
        </ul>

       {% endif %} 

        <ul class="list">
            <li>
                <a href="/">
                    <h2>Accueil</h2>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="/blog/new">
                    <h2>Créer un article</h2> 
                </a>
            </li>
            <li>
                <a href="/admin">
                    <h2>Administration</h2>
                </a>
            </li>

            {% endif %}
            <li>
                <a href="/blog">
                    <h2>Tout les articles</h2>
                </a>
            </li>
            <li>
                <a href="/gaming">
                    <h2>Gaming</h2>
                </a>
            </li>
            <li>
                <a href="/hardware">
                    <h2>Hardware</h2>
                </a>
            </li>
        </ul>


    </div>

    <div class="navbar">

        <div class="title">
            <div class="nav-toggle">&#9776;</div>
            <a href="/"><img src="{{asset('build/images/logodusite.png')}}" id="sitelogo" alt="logo"></a>
            <h1 id="webtitle">Le Pad Pourpre</h1>
        </div>



        <div class="userpart">
            <a href="cdv"><img src="{{asset('build/images/logodusite.png')}}" id="avatar" alt="imgcdv"></a>
            <li class="info-user">
                    {% if not app.user %}
  
   
            <ul><a href="/connexion"> Se connecter</a></ul>

   {% else %}

    <ul>Bonjour {{ app.user.username }}</ul>
            <ul><a href="/deconnexion"> Se déconnecter</a></ul>
        </ul>
            </li>
            </li>

      {% endif %}      
        </div>



    </div>

    

    
       
{% block body %}

{% endblock %}

    


    <!-- Site footer -->
    <footer class="footer col-12">
        <div class="container">
            <div class="cp">
                <div class="col-6">
                    <h6>A propos</h6>
                    <li><a href="/privacy-statement">Mentions légales</a></li>
                    <li><a href="/privacy-statement">Conditions d'utilisation</a></li>
                    <li><a href="/privacy-statement">Politiques de confidentialité</a></li>

                </div>



                <div class="col-6">
                    <h6>Liens rapides</h6>
                    <ul class="footer-links">
                        <li><a href="/privacy-statement">Nous contacter</a></li>

                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="cp">
                <div class="col-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                        <a href="/">LePadPourpre</a>.
                    </p>
                </div>


            </div>
        </div>
    </footer>





    



</html>


        {% block javascripts %}
       
        
        {{ encore_entry_script_tags('cookies') }}
        {{ encore_entry_script_tags('anim0') }}
        {{ encore_entry_script_tags('anim1') }}

        
       
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
{% endblock %}


        
    </body>
</html>
